/* mian header style clases */
.logo{
    top: 32px;
left: 82px;
width: 47px;
height: 84px;
    font: normal normal bold 60px/30px Poppins;
}
.header{
    height: 80px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
   
}
.menu_bar{
    
height: 43px;
background: #DEC0F1 0% 0% no-repeat padding-box;
box-shadow: inset -3px 3px 2px #00000029;
border-radius: 28px;
overflow: hidden;
opacity: 1;
margin-top: 20px;
margin-right: 500px;
}
.link{
    
        
        padding-top: 7px;
        padding-left: 10px;
        padding-right: 7px;
        
        text-decoration: none;
    
}

.link_text{
 color: black;
 
}
.active{
    background: transparent linear-gradient(180deg, #341064 0%, #1A0832 100%) 0% 0% no-repeat padding-box;
    color:white;
opacity: 1;


    
}


/* mian footer styles classess */
.footer-link{
    color: white;
    text-decoration: none;
}
.social-icons{
    width: 32px;
    height: 32px;
    border-radius: 15px;
    background: white;
    padding-left: 5px;
    padding-top: 3px;
    margin-left: 2px;
    margin-right: 2px;
}
.social-icons-text{
    color: black;

}
/* Home page main styling */
.card1{
    background: transparent linear-gradient(270deg, #652F90 0%, #2A0A5B 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
opacity: 1;
}
.card1-col1-heading{
    margin-top: 160px;
    margin-left: 120px;
    
}
.card1-col1-heading-text{
    font-size: 50px;
}
.card1-col1-input{ 
    margin-top: 35px;
    margin-left: 120px;
    
    
    height: 55px;
 background: white;
 border-radius: 30px;
 overflow: hidden;
}
.card1-col1-input-feild{
    margin-top: 4px;
    height: 45px;
    border: none;
    outline: none;
    
}
.card1-col1-button{
    height: 45px;
    border: none;
    outline: none;
    margin-top: 5px;
    margin-right: 5px;
    border-radius: 30px;
    background: transparent linear-gradient(270deg, #442274 0%, #22113A 100%) 0% 0% no-repeat padding-box;
    padding-left: 17px;
    padding-right: 17px;
}
.card1-col1-button-text{
   font-size: 13px;
   color: white;
}
.card1-col1-peragraf{
    margin-top: 30px;
    margin-left: 120px;
    
    margin-bottom: 160px ;
}
.card1-col2{
    border-radius: 30px;
    height: 700px;
    overflow-y:scroll;
    
}
::-webkit-scrollbar {
    width: 0em; /* Adjust the width as needed */
  }
.heading1{
    margin-top: 15px;
    font: normal normal bold 60px/94px Poppins;
    color: #000000;
    opacity: 1;
}
.heading2{
    font: normal normal bold 70px/94px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.card2-col1{
    border-radius: 10px;
    height: 500px;
    overflow-y: scroll;
}
.card2-col2-ul{
    list-style-type:none;
    padding: 0px;
}
.grid{
    width: 200px;
    height: 150px;
    padding-right: 1px;
    padding-left: 5px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 22px #00000029;
    border-radius: 10px;
    opacity: 1;
    margin-bottom: 35px;
   
}
.line-bar1{
    width: 75%;
    height: 15px;
    background: #F2EEE9 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}
.line-bar2{
    margin: 4px;
    width: 100%;
    height: 15px;
    background: #F2EEE9 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}
.line-bar3{
    width: 50%;
    height: 15px;
    background: #442274 0% 0% no-repeat padding-box;
border-radius: 7px;
opacity: 1;
}
.line-bar4{
    height: 37px;
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.line-bar5{
    height: 37px;
background: #F2EEE9 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
.line-bar6{
    height: 37px;
background: #DEC0F1 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
}
.triangle-box
{
    width: 60px;
height: 45px;
background: #E5C761 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
padding: 16%;
}
.triangle1{
    font-size: 20px;
    
    color: #E56161;
    opacity: 1;
}
.circle1{
  
 font-size: 10px;
color: #E56161;
margin-top: -10px;
margin-left: -5px;
opacity: 1;
 
}
.abc-box{
    width: 73px;
height: 45px;
border: 1px solid #442274;
opacity: 1;
}
.abc{
    font: normal normal bold 28px/42px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.circle2{
color: #DEC0F1;
}
.line-bar7{
    width: 156px;
    height: 10px;
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}
.line-bar8{
    width: 108px;
    height: 10px;
    background: #DDDDDD 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}
.triangle-box2{
    width: 156px;
    height: 58px;
    background: #F2EEE9 0% 0% no-repeat padding-box;
    border-radius: 7px;
    opacity: 1;
}
.inner-box{
    margin-left: 37%;
   padding-top: 17px;
}
.triangle2{
   font-size: 30px; 

color: #9F9F9F;
opacity: 1;
}
 .circle3{
    margin-top: -18px;
    margin-left: -7px;
     font-size: 10px;
    color: #9F9F9F;
 }
 .card4{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 13px 16px #00000029;
border-radius: 40px;
opacity: 1;
 }
 .industries{
    font: normal normal bold 20px/94px Poppins;
letter-spacing: 0px;
color: #000000;

opacity: 1;
 }
 .more{
    
    font: normal normal bold 20px/94px Poppins;
    letter-spacing: 0px;
    color: #FFFFFF;
    
    opacity: 1;
background: #442274 0% 0% no-repeat padding-box;
border-radius: 18px;
 }
 .card5-col1{
    padding-top: 30px;
    margin-left: 300px;
    
 }
 .card5-col2{
    margin-left: 50px;
 }
 .card5-image1{
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
 }
 .card6-col2{
    padding-top: 30px;
    margin-right: 300px;
    
 }
 .card6-col1{
    margin-right: 50px;
 }
 .card6-image1{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
 }
.picture-circle{
    border-radius: 40px;

}
.heading5{
    font: normal normal bold 20px/30px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.heading0{
    text-align: center;
font: normal normal bold 55px/77px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
/* frontpage block styling */
.menuitemblock{
padding-top: 31px;
}
.menuitems{
    text-decoration:  none;
    
    font: normal normal normal 10px/16px Poppins;
letter-spacing: 0px;

opacity: 1;}
.menuitemsl{
    text-decoration:  none;
    width: 44px;
height: 17px;
padding-left: 10px;
background: #000000 0% 0% no-repeat padding-box;
border-radius: 4px;
opacity: 1;
    font: normal normal normal 10px/16px Poppins;
letter-spacing: 0px;

opacity: 1;

}
.hardknot{
    font: normal normal normal 13px/16px Poppins;
}
.image1{
    margin-right: 2px;
    margin-bottom: 2px;
 border-radius: 5px;
 width: 100%;
    height: 280px;
    background-image: url(".././public/a5.jpg");
     background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */


}
.image2{

    
    height: 280px;
    background-image: url(".././public/a10.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */


}
.image3{
    
    height: 280px;
    background-image: url(".././public/a\ \(2\).jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */

}
.image4{

    margin-right: 2px;
    height: 280px;
    background-image: url(".././public/a\ \(6\).jpg");
    background-size:cover;/* Scales the image to cover the entire div */
    background-position: left; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */


}

.image5{
    width: 100%;
    height: 140px;
    background-image: url(".././public/1.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */

}

    .image6{
        width: 100%;
    height: 140px;
    background-image: url(".././public/a11.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */


}
.image7{
    width: 100%;
    height: 280px;
    background-image: url(".././public/a1.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
.image8{
    width: 100%;
    height: 280px;
    background-image: url(".././public/a\ \(9\).jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    border-radius: 7px;
}
.block-heading{
    font: normal normal bold 30px/40px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.image8{
    width: 100%;
    height: 280px;
    background-image: url(".././public/a\ \(9\).jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    border-radius: 7px;
}
.cloud-border{
    padding-left: 70px;
    background-color: #9F9F9F;
}
.image9{
    width: 100%;
    height: 310px;
    background-image: url(".././public/a\ \(8\).jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}.image10{
    width: 100%;
    height: 200px;
    background-image: url(".././public/a\ \(3\).jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}.image11{
    width: 100%;
    height: 200px;
    background-image: url(".././public/a\ \(7\).jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}.image12{
    width: 100%;
    height: 200px;
    background-image: url(".././public/1.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}.image13{
    width: 100%;
    height: 200px;
    background-image: url(".././public/a1.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}.image14{
    width: 100%;
    height: 200px;
    background-image: url(".././public/1.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}.image15{
    width: 100%;
    height: 200px;
    background-image: url(".././public/a (9).jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    
}.image16{
    width: 100%;
    height: 200px;
    background-image: url(".././public/a11.jpg");
    background-size: cover; /* Scales the image to cover the entire div */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    border-radius: 10px;
}
.bdr{
    margin-top: 10px;
    border: #f7f7f7 solid 2px;
    height: 180px;
}
.bdr-btn{
    width: 110px;
    margin-top: 70px;
    margin-left: 40px;
    background-color: #000000;
    color: white;
}
.bdr-btn2{
    width: 110px;
    margin-top: 80px;
    margin-left: 40px;
    background-color:transparent;
    color: white;
    border: none;
}
.bdr-btn3{
    width: 110px;
    margin-top: 80px;
    margin-left: 40px;
    background-color: transparent;
    color: white;
    border: none;
    }
    .input-field{
   border: #000000 solid 2px;
    }
    .mainfield{
        border: none;
        outline: none;
    }
    .input-btn{
        margin: 4px;
   background-color: black;
   color: white;
    }
    /* front page 2 block styling */
.cs-chat-text-block{
    height: 176px;
background: transparent linear-gradient(270deg, #442274 0%, #652F90 100%) 0% 0% no-repeat padding-box;
border-radius: 10px 10px 0px 0px;
opacity: 1;
}
.chat-circle{
     height: 70px;
     width: 80%;
     border-radius: 50%;
    background: #DEC0F1 0% 0% no-repeat padding-box
}
.catagory-block{
    height: 327px;
    background: #F2EEE9 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 10px 10px;
    opacity: 1;
}
.catagory-block-heading{
    font: normal normal bold 12px/18px Poppins;
letter-spacing: 0px;
color: #2A0A5B;
opacity: 1;
}
.catagory-block-input{
 
background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 28px;
opacity: 1;
overflow: hidden;
}
.catagory-block-main-input{
    border: none;
    outline: none;
}
.catagory-search-button{
    border: navy;
    outline: none;
    background-color: transparent;
}
.catogories{
     border: none;
    width: 161px;
height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 28px;
font: normal normal medium 13px/20px Poppins;
letter-spacing: 0px;
color: #2A0A5B;
opacity: 1;

}
.catogories-active{
    border: none;
   width: 161px;
height: 45px;
background: #442274 0% 0% no-repeat padding-box;
border-radius: 28px;

font: normal normal bold 12px/18px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.active-btn{
    border: none;
   width: 161px;
height: 45px;
background:  0% 0% no-repeat padding-box;
border-radius: 28px;

font: normal normal bold 12px/18px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.outline-btn{
    border: white 2px solid;
    width: 161px;
 height: 45px;
 background: #442274 0% 0% no-repeat padding-box;
 border-radius: 28px;
 
 font: normal normal bold 12px/18px Poppins;
 letter-spacing: 0px;
 color: #FFFFFF;
 opacity: 1;
}
.block2{
    
    background: transparent linear-gradient(270deg, #442274 0%, #652F90 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
opacity: 1;
}
.chat-dark-circle{
    height: 70px;
    width: 80%;
    border-radius: 50%;
         
         background: #cbb2db 0% 0% no-repeat padding-box;

}
.block3{
    padding-top: 5px;
    padding-left: 5px;
         background: transparent;
    border: #000000 solid 2px;
    border-radius: 50px;
}
.block4{
    padding-top: 5px;
    padding-left: 5px;
         background:#cbb2db ;
    border: solid 2px;
    border-radius: 50px;
    color:#442274  ;
}
    /* Go Custom page styling */
.main-card{
    margin-bottom: 250px;
}
/* Testimonials page styling */
.mini-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 20px #00000029;
border-radius: 10px;
opacity: 1;
}
.picture1{
    box-shadow: 0px 6px 12px #00000029;
border-radius: 10px;
opacity: 1;
}
.mini-card-heading{
    font: normal normal bold 20px/30px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.mini-card-text{
    font: normal normal normal 20px/30px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.mini-card-text2{
    font: normal normal normal 16px/25px Poppins;
letter-spacing: 0px;
color: #000000;
opacity: 1;
}
.video{
    height: 100%;
    width: 100%;
    box-shadow: 0px 6px 20px #00000029;
border-radius: 10px;
opacity: 1;
}
/* sign in page style */
.signin-card1{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 20px #00000029;
border-radius: 10px;
opacity: 1;
}
.heading1-sign-in{
    font: normal normal bold 80px/120px Poppins;
letter-spacing: 0px;
color: #442274;
opacity: 1;
}
.label{
    text-align: left;
font: normal normal bold 16px/25px Poppins;
letter-spacing: 0px;
color: #3F3F3F;
opacity: 1;
}
.signin-input{
    width: 100%;
    height: 40px;
    border: 1px solid #3F3F3F;
border-radius: 20px;
opacity: 1;
}
.confirm-button{
    width: 200px;
height: 70px;
    background: #442274 0% 0% no-repeat padding-box;
border-radius: 77px;
border: none;
color: white;
opacity: 1;
}