.card1_ol1_input{
    
    background: #DEC0F1 0% 0% no-repeat padding-box;
box-shadow: inset 0px 3px 6px #00000029;
border-radius: 40px;
margin-bottom: 10px;
 overflow: hidden;
opacity: 1;
}
.input_field{
    background-color: transparent;
    margin-left: 15px;
    margin-top: 4px;
    height: 45px;
    border: none;
    outline: none;} 
.button{
    height: 45px;
    
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    border-radius: 30px;
    background: transparent linear-gradient(270deg, #442274 0%, #22113A 100%) 0% 0% no-repeat padding-box;
    padding-left: 17px;
    padding-right: 17px;
}
.text{
    font-size: 13px;
    color: white;
}